.mainFooterContainer{
    display: flex;
    flex-direction: column;
  background-color: rgb(13, 13, 63);

}
.topFooterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(170, 213, 238);
    margin-right: 200px;
    margin-left: 200px;
    margin-top: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 10px;
}
.leftFooterContent{
    display: flex;
    flex-direction: column;
    float: left;
}
.leftFooterContent h1{
    text-transform: capitalize;
    font-size: 25px;
    color: white;
    font-weight: 500;

}
.leftFooterContent p{
    line-height: 1.5;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    padding-top: 5px;
}
.footerButton{
    padding: 10px 35px;
    background-color: rgb(13, 13, 63);
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.bottomFooterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 80px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 80px;
}
.bottomFooterContainer img{
    widows: 100%;
    object-fit: cover;
}
.bottomFooterContainer p{
    line-height: 1.5;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    text-transform: capitalize;
    padding-top: 20px;
    color: rgb(190, 190, 190);
}
.iconContainer{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.footrIcons{
    font-size: 38px !important;
    color: rgb(190, 190, 190);
    padding-right: 10px;
}

.rightBottomContent{
    display: flex;
    flex-direction: column;
}
.rightBottomContent span{
    color: rgb(190, 190, 190);
    font-size: 14px;

    padding-top: 20px;
    text-transform: capitalize;
    cursor: pointer;

}